{% extends 'layout.html' %}

{% block content %}
{% if request.form['from_symbol'] %}
<h1>Exchange ratio from {{ request.form['from_symbol'] }} to {{ request.form['to_symbol'] }}</h1>
{% endif %}
<div class="row">
	<h1></h1>
	<div class="col-sm-8">
		<div class="btn-group">
			<button class="btn btn-primary" id="weekly" onclick="myFunction(7)">Last week</button>
			<button class="btn btn-primary" onclick="myFunction(30)">Last month</button>
			<button class="btn btn-primary" onclick="myFunction(365)">Last year</button>
			<button class="btn btn-primary" onclick="myFunction('all')">All data</button>
		</div>
		<canvas class="mt-5" id="canvas"></canvas>
		<form action="/" method="POST">
			<div class="row">
				<div class="col">
					<select class="form-control" id="from_symbol" name="from_symbol">
					{% for x in currency_list%}
					<option  value="{{x[0]}}">{{x[1]}}</option>
					{% endfor %}
					</select>
					</div>
				<div class="col">
					<select class="form-control" id="to_symbol" name="to_symbol">
					{% for x in currency_list%}
					<option value="{{x[0]}}">{{x[1]}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="col">
					<button class="btn btn-info" type="submit">Get historical data</button>
				</div>
			</div>
		</form>
	</div>
	{% if request.form['from_symbol'] %}
	<div class="col-sm-4">
		<div class="jumbotron jumbotron-fluid">
		  <div class="container">
		  	<p id="data"></p>
		    <p id="current"></p>
		  </div>
		</div>
		<input type="hidden" value="{{ request.form['from_symbol'] }}" id="from_currency_live">
		<input type="hidden" value="{{ request.form['to_symbol'] }}" id="to_currency_live">
		<button class="btn btn-success" id="live_currency_button" type="submit">Click for live exchange ratio</button>
	</div>
	{% endif %}
</div>

<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
<script type="text/javascript">
	var dates = {% if dates %} {{ dates|tojson }}.reverse() {% else %} [] {% endif %}; 
	var ex_rate = {% if dates %} {{ ex_rate|tojson }}.reverse() {% else %} [] {% endif %};
	var tick_start_point = Math.min.apply(Math, ex_rate) * 0.95;

var chartData = {
	labels: dates,
	datasets: [ 
	{
		type: 'bar',
		fill: false,
		backgroundColor: 'rgb(5,155,200)',
		borderColor: 'rgb(5,155,200)',
		data: ex_rate,
		yAxisID: 'y-axis-1'
		}]
};
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = Chart.Line(ctx, {
				data: chartData,
				options: {
					legend:{
						display: false
					},
					responsive: true,
					hoverMode: 'index',
					stacked: false,
					title: {
						display: false,
					},
					scales: {
						yAxes: [{
							type: 'linear',
							display: true,
							position: 'left',
							id: 'y-axis-1',
							ticks:{
								min: tick_start_point
							}
						}],
						xAxes:[{
							ticks:{
								maxTicksLimit: 10
							}
						}]
					}
				}
			});
		};

function myFunction(n){
	if (n == 'all'){
		chartData.datasets[0].data = ex_rate;
		chartData.labels  = dates;
	}
	else {
		chartData.datasets[0].data = ex_rate.slice(Math.max(ex_rate.length - n));
		chartData.labels= dates.slice(Math.max(dates.length -n));
	}
	myLine.update()
}
</script>
{% endblock %}