{% extends 'layout.html' %}

{% block content %}

<h1 class="text-center">{% if request.form['from_symbol'] %} Exchange ratio from {{ request.form['from_symbol'] }} to {{ request.form['to_symbol'] }} {% else %} Currency exchange rate {% endif %}</h1>

<div class="row mt-5">
	<h1></h1>
	<div class="col-8">
		<div class="btn-group">
			<button class="btn btn-primary" id="weekly" onclick="myFunction(7)">Last week</button>
			<button class="btn btn-primary" onclick="myFunction(30)">Last month</button>
			<button class="btn btn-primary" onclick="myFunction(365)">Last year</button>
			<button class="btn btn-primary" onclick="myFunction('all')">Max</button>
		</div>
		<canvas class="mt-5" id="canvas"></canvas>
		<form action="/" method="POST">
			<div class="row">
				<div class="col">
					<select class="form-control" id="from_symbol" name="from_symbol">
					{% for x in currency_list%}
					<option  value="{{x[0]}}">{{x[1]}}</option>
					{% endfor %}
					</select>
					</div>
				<div class="col">
					<select class="form-control" id="to_symbol" name="to_symbol">
					{% for x in currency_list%}
					<option value="{{x[0]}}">{{x[1]}}</option>
					{% endfor %}
					</select>
				</div>
				<div class="col">
					<button class="btn btn-info" type="submit">Get historical data</button>
				</div>
			</div>
		</form>
	</div>
	<div class="card" style="width: 18rem; height: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Live exchange rate</h5>
    <h6 class="card-subtitle mb-2 text-muted" id="date"></h6>
    <p class="card-text" id="current_exchange"></p>
  </div>
</div>
</div>
<script type="text/javascript">
	var dates = {% if dates %} {{ dates|tojson }}.reverse() {% else %} [] {% endif %}; 
	var ex_rate = {% if dates %} {{ ex_rate|tojson }}.reverse() {% else %} [] {% endif %};
	var tick_start_point = Math.min.apply(Math, ex_rate) * 0.95;

var chartData = {
	labels: dates,
	datasets: [ 
	{
		type: 'bar',
		fill: false,
		backgroundColor: 'rgb(5,155,200)',
		borderColor: 'rgb(5,155,200)',
		data: ex_rate,
		yAxisID: 'y-axis-1'
		}]
};
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = Chart.Line(ctx, {
				data: chartData,
				options: {
					legend:{
						display: false
					},
					responsive: true,
					hoverMode: 'index',
					stacked: false,
					title: {
						display: false,
					},
					scales: {
						yAxes: [{
							type: 'linear',
							display: true,
							position: 'left',
							id: 'y-axis-1',
							ticks:{
								min: tick_start_point
							}
						}],
						xAxes:[{
							ticks:{
								maxTicksLimit: 10
							}
						}]
					}
				}
			});
		};

function myFunction(n){
	if (n == 'all'){
		chartData.datasets[0].data = ex_rate;
		chartData.labels  = dates;
	}
	else {
		chartData.datasets[0].data = ex_rate.slice(Math.max(ex_rate.length - n));
		chartData.labels= dates.slice(Math.max(dates.length -n));
	}
	myLine.update()
}

{% if ex_rate %}
$(document).ready(function(){
		var from_symbol = {{ request.form['from_symbol']|tojson }};
		var to_currency = {{ request.form['to_symbol']|tojson }};

		window.setInterval(function(){
		req = $.ajax({
			url: '/update',
			type: 'POST',
			data: {
					from_currency_live: from_symbol, 
					to_currency_live: to_currency
				}
		});

		req.done(function(data){
			$("#date").text("Last refreshed: " + data.last_refreshed + "UTC±00:00");
			$("#current_exchange").text("Current exchange rate: " + data.current_exchange_rate);
		});

		},30000);

	});
{% endif %}

</script>
{% endblock %}